:root {
  margin: 1vh auto;
  width: 350px;
}

a:link, a:visited {
  background-color: white;
  justify-content: center;
}

body {
    margin: 20px;
    font-family: Arial;
    background-color:cornsilk;
}

button {
  display: block;
  margin: 1vh auto;
}

#company {
    font-family: Verdana; 
    text-align: center;
}

#attendance-form {
    line-height: 2;
}
